---
layout: handbook-page-toc
title: Infrastructure-Quality Department Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= performance_indicators('Infrastructure-Quality Department') %>
